<div class="flex-center container">
  <ion-card expand="full" class="w-100" >
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Effettua l'accesso </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" formControlName="username" required></ion-input>
        </ion-item>
        <ion-item *ngIf="username?.invalid && (username?.dirty || username?.touched)">
          <ion-text color="danger" class="ion-padding-start">
            <small *ngIf="username?.errors?.['required']">
              L'username è obbligatorio
            </small>
            <small *ngIf="username?.errors?.['email']">
              Inserire un indirizzo email valido
            </small>
          </ion-text>
        </ion-item>
        <ion-item >
          <ion-label position="floating">Password</ion-label>
          <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" required></ion-input>
          <ion-icon class="flex-y-self-end" name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" fill="clear" (click)="showPassword = !showPassword"></ion-icon>
        </ion-item>
        <ion-item *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <ion-text color="danger" class="ion-padding-start">
            <small *ngIf="password?.errors?.['required']">
              La password è obbligatoria
            </small>
            <small *ngIf="password?.errors?.['minlength']">
              La password deve essere lunga almeno 8 caratteri
            </small>
          </ion-text>
        </ion-item>
          <ion-button class="forgot-password" fill="clear">Ho dimeticato la password</ion-button>
        <ion-row class="w-100">
          <ion-col class="ion-margin-vertical">
            <ion-button class="ion-margin-vertical" expand="block" fill="outline" (click)="goToRegistrationPage()">Registrati</ion-button>
            <ion-button type="submit" class="ion-margin-vertical" expand="block" [disabled]="loginForm.invalid">Invia</ion-button>
          </ion-col>
        </ion-row>
      </form>

    </ion-card-content>


  </ion-card>
</div>

