<div class="container flex-column">
  <div class="container-header">
    <div class="logo">
      <ion-img
        src="../../../assets/images/logo.svg"
        alt="Logo">
      </ion-img>
    </div>
  </div>
  <div class="container-body">
    <ion-text>
      <h1 class="title text-heavy text-xxxl ion-text-uppercase">Login</h1>
      <h2 class="subtitle ion-bold">Effettua l'accesso</h2>
    </ion-text>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
      </ion-item>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <ion-text color="danger" class="ion-padding-start">
          <small *ngIf="email?.errors?.['required']">
            L'email è obbligatorio
          </small>
          <small *ngIf="email?.errors?.['email']">
            Inserire un indirizzo email valido
          </small>
        </ion-text>
      </div>
      <ion-item >
        <ion-label position="floating">Password</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" required></ion-input>
        <ion-icon class="flex-y-self-end" name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" fill="clear" (click)="showPassword = !showPassword"></ion-icon>
      </ion-item>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <ion-text color="danger" class="ion-padding-start">
          <small *ngIf="password?.errors?.['required']">
            La password è obbligatoria
          </small>
          <small *ngIf="password?.errors?.['minlength']">
            La password deve essere lunga almeno 8 caratteri
          </small>
        </ion-text>
      </div>
        <ion-button class="ion-text-end ion-float-right ion-no-padding" fill="clear" (click)="goToResetPasswordPage()">Ho dimeticato la password</ion-button>
      <ion-row class="w-100">
        <ion-col class="ion-no-padding">
          <ion-button type="submit" class="ion-margin-vertical ion-text-uppercase" expand="block" [disabled]="loginForm.invalid">Invia</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-button class="ion-text-uppercase" expand="block" fill="clear" [routerLink]="['/registration']" routerLinkActive="router-link-active" >Registrati</ion-button>
  </div>
  <div class="container-footer">
    <small>by Franco Castello</small>
  </div>
</div>

