<div class="container flex-column">
  <div class="container-header">
    <div class="logo">
      <ion-img
        src="../../../assets/images/logo.svg"
        alt="Logo">
      </ion-img>
    </div>
  </div>
  <div class="container-body">
    <ion-text>
      <h1 class="title text-heavy text-xxxl ion-text-uppercase">Recupera Password</h1>
      <h2 class="subtitle ion-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h2>
    </ion-text>
    <form [formGroup]="pswResetForm" (submit)="sendPasswordResetRequest()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <ion-text color="danger" class="ion-padding-start">
          <small *ngIf="email?.errors?.['required']">
            L'email è obbligatorio
          </small>
          <small *ngIf="email?.errors?.['email']">
            Inserire un indirizzo email valido
          </small>
        </ion-text>
      </ion-item>
      <ion-row class="w-100">
        <ion-col class="ion-margin-vertical">
          <ion-button type="submit" class="ion-margin-vertical" expand="block" [disabled]="pswResetForm.invalid">Invia Richiesta</ion-button>
        </ion-col>
      </ion-row>
      <ion-button class="ion-text-uppercase" expand="block" fill="clear" (click)="goToLoginPage()">Log in</ion-button>
    </form>
  </div>
  <div class="container-footer">
    <small>by Franco Castello</small>
  </div>
</div>


