<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambia Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <!-- <h1 class="title text-heavy text-xxxl ion-text-uppercase">Login</h1> -->
    <h2 class="subtitle ion-bold">Cambia la tua Password</h2>
  </ion-text>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <!-- old Password -->
    <ion-item>
      <ion-label position="floating">Old Password</ion-label>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="oldPassword" required></ion-input>
      <ion-icon class="flex-y-self-end" name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" fill="clear" (click)="showPassword = !showPassword"></ion-icon>
    </ion-item>
    <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
      <ion-text color="danger" class="ion-padding-start">
        <small *ngIf="oldPassword?.errors?.['required']">
          La password è obbligatoria
        </small>
        <small *ngIf="oldPassword?.errors?.['minlength']">
          La password deve essere lunga almeno 8 caratteri
        </small>
      </ion-text>
    </div>

    <!-- Password -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" required></ion-input>
      <ion-icon class="flex-y-self-end" name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" fill="clear" (click)="showPassword = !showPassword"></ion-icon>
    </ion-item>
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <ion-text color="danger" class="ion-padding-start">
        <small *ngIf="password?.errors?.['required']">
          La password è obbligatoria
        </small>
        <small *ngIf="password?.errors?.['minlength']">
          La password deve essere lunga almeno 8 caratteri
        </small>
      </ion-text>
    </div>

    <!-- Conferma Password -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="confirmPassword" required></ion-input>
      <ion-icon class="flex-y-self-end" name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" fill="clear" (click)="showPassword = !showPassword"></ion-icon>
    </ion-item>
    <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
      <ion-text color="danger" class="ion-padding-start">
        <small *ngIf="confirmPassword?.errors?.['required']">
          La password è obbligatoria
        </small>
        <small *ngIf="confirmPassword?.errors?.['minlength']">
          La password deve essere lunga almeno 8 caratteri
        </small>
        <small *ngIf="confirmPassword?.errors?.['confirmPasswordValidator']">
          La password con è uguale
        </small>
      </ion-text>
    </div>
    <ion-row class="w-100">
      <ion-col>
        <ion-button  type="submit" class="ion-margin-vertical" expand="block" [disabled]="changePasswordForm.invalid">Invia</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
